.content-about {
    text-align: center;
    justify-content: center;
    background: #F6F6F6;
}

.content-title {
    padding-top: 120px;
    padding-bottom: 18px;
}

.content-text {
    margin: 0 auto;
    max-width: 486px;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    padding-bottom: 107px;
}
