.content-skills {
    text-align: center;
    padding-bottom: 110px;
}
.skills-programs {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 83px;
}
.skills-h {
    margin-top: 91px;
}
.skills-p {
    margin-top: 69px;
}
.programs-image {
    padding-bottom: 24px;
}

h4 {
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-weight: bold;
    color: #828282;
}